/* Styling for React App */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styling for Team Titan Website */

* {
  box-sizing: border-box;
  cursor: crosshair;
}

body {
background-image: url("./assets/TeamPhotos/mainpagebackground.png");
background-image: center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #444444;
}

/* Hover Over */

.menu :hover{
background: linear-gradient(180deg, rgba(168, 135, 2, 0.5) 0%, rgba(196, 196, 196, 0) 100%);
}

/* Menu Items */

.menuItem{
position: relative;
width: 391px;
height: 52px;
left: 93px;
top: 225px;
font-family: 'Audiowide';
font-size: 45px;
line-height: 57px;
background-color: rgba(0, 0, 0, 0);
color: rgba(163, 163, 163);
text-decoration: none;
}

.nav :hover {
background: linear-gradient(180deg, rgba(168, 135, 2, 0.5) 0%, rgba(196, 196, 196, 0) 100%);

}

.navItem{
position: relative;
font-family: 'Audiowide';
font-size: 150%;
line-height: 250%;
background-color: rgba(0, 0, 0, 0);
color: rgba(163, 163, 163);
text-decoration: none;
padding: 1%;
}

/* Team Titan PNW */

.pageTitle {
position: relative;
color: white;
top: 20px;
width: 100%;
font-family: 'Audiowide';
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 57px;
text-align: center;
}

.title {
position: relative;
top: 20px;
width: 100%;
font-family: 'Audiowide';
font-style: normal;
font-weight: normal;
font-size: 45px;
line-height: 57px;
text-align: center;
background-color: #444444 0;
color: #A88702;
}

.card-layout:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0);
  transition: 0.3s;
  text-align: center;  
  float: left;
  width: 25%;
  margin: 4%;
}

h4 {
  background-color: #A88702;
  font-family: 'Audiowide';
}

.name {
  background-color: #A88702;
  font-family: 'Audiowide';
}

.faction {
  background-color: #A88702;
  font-family: 'Audiowide';
}

.squad-name {
  background-color: #A88702;
  font-family: 'Audiowide';
}

.squad-description {
  background-color: #A88702;
  font-family: 'Audiowide';
}



/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  background-color: #A88702;
  align-items: center;
  
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
background-color: transparent;
width: 100%;
height: 100%;
perspective: 1000px; /* Remove this if you don't want the 3D effect */
justify-content: center;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: 0.8s;
transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
background-color: #A88702;
color: black;
}

/* Style the back side */
.flip-card-back {
background-color: #A88702;

transform: rotateY(180deg);
}

/* About Us Page */

.aboutUsHeader {
color: white;
text-align: center;
}

.aboutUs {
color: white;
text-align: center;
}

.teamContainer {
padding: 2%;
margin-top: 100%;
}

.teamMember {
text-decoration: none;
}

/* Contact Us Page */



/* Calendar */

.react-calendar__month-view__weekdays__weekday {
color: white;
justify-content: center;
}

.react-calendar {
  height: 50rem;  
  justify-content: center;
}

.react-calendar__tile {
  padding: 4rem;
  background-color: #A88702;
  color: white;
  border-radius: 50%;
}